:root {
    --primary-color: #fff;
    --secondary-color: #91c5d4;
    --tertiary-color: #162f31;
}

/* use "*" for universal selector to apply the following to all elements*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background: var(--primary-color);
}

/* style header */
header {
    background-color: var(--tertiary-color);
    padding-top: 15px;
    padding-right: 35px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 a {
    color: var(--tertiary-color);
    font-size: 36px;
    font-weight: bold;
}

header a {
    color: var(--secondary-color);
    text-decoration: none;
}

header nav {
   margin: 7px 0; 
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 28px;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1vw;
}

.amnav, .wknav, .cmnav, .rmnav {
    padding-bottom: 3px;
    border-bottom: 3px solid var(--secondary-color);
}
.name-container {
    height: 100%;
    width: 300px;
    text-align: right;
    padding-top: 10px;
    padding-right: 5px;
    background-color: var(--secondary-color);
    }

/* style the footer */
footer {
    width: 100%;
    height: 150px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 5px solid black;
}

footer a {
    color: var(--tertiary-color);
    text-decoration: none;
}

.contact-caption {
    width: 400px;
    padding-top: 20px;
    margin-left: 20px;
    border: 5px solid gray;
}

.contact-caption h2 {
    color: var(--tertiary-color);
    float: right;
    font-size: 40px;
    margin: 0;
}

.contact-details {
    width: 950px;
    float: right;
    font-size: 15px;
    border: 5px solid brown;
}

.cdtel, .cdmail, .cdgithub, .cdlinkedin {
    padding-bottom: 3px;
    border-bottom: 3px solid var(--tertiary-color);
}

.hero {
    width: 100%;
    background-image: url("../images/National\ Geographic\ ocean.jpg");
    padding: 20px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
}

.hero-caption {
    height: 35px;
    width: 250px;
    padding: 5px;
    background-color: var(--secondary-color);
}

.hero-caption p {
    color: var(--tertiary-color);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.bio {
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 5px solid black;
}

.bio-caption {
    height: 150px;
    width: 450px;
    margin-top: 20px;
    border: 5px solid red;
    /* coding to right justify and wrap caption needed */
}

.bio-details {
    height: 150px;
    width: 900px;
    margin-top: 20px;
    padding-left: 40px;
    border: 5px solid green;
   }

.bio-caption h2 {
    color: var(--tertiary-color);
    font-size: 50px;
    float: right;
}

.bio p {
    color: var(--tertiary-color);
    font-size: 12px;
}

.bio-container-left img {
    border-radius: 50%;
    width: 100px;
}

.showcase {
    width: 100%;
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 5px solid purple;
}

.showcase-caption h2 {
    color: var(--tertiary-color);
    font-size: 40px;
    float: right;
}

.showcase-main {
    height: 200px;
    width: 900px;
    margin-top: 20px;
    padding-left: 40px;
    border: 5px solid orange;
}

.showcase-2 {
    height: 200px;
    width: 900px;
    margin-top: 20px;
    padding-left: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 5px solid green;
}

.subject {
    width: 50px;
    height: 20px;
    background-color: var(--secondary-color);
    position: absolute;
    left: 0;
    bottom: 0;
}

.subject a {
    color: var(--tertiary-color);
    font-size: 20px;
}

  @media screen and (max-width: 980px) {

  }

  @media screen and (max-width: 768px) {

  }

  @media screen and (max-width: 575px) {

  }