:root {
    --primary-color:  #fff;
    --secondary-color: #b6eef0;
    --tertiary-color: #273738;
}

/* use * for universal selector to apply the following to all elements*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--primary-color);
    font-family: Helvetica, Arial, sans-serif;
}

header {
    background-color: var(--tertiary-color);
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    height: 50px;
    width: 300px;
    color: var(--secondary-color);
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    display: inline;
}

header a {
    color: var(--secondary-color);
    text-decoration: none;
}

header nav {
   float: right;
   margin: 7px 0; 
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-decoration: underline;
}

/* set up coding for the footer - to be edited later */

footer {
    background-color: var(--primary-color);
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    color: var(--tertiary-color);
    font-size: 30px;
    margin: 0;
}

footer a {
    color: var(--tertiary-color);
}

.contact-details {
    line-height: 1.5;
  }

.hero {
    width: 100%;
    background-image: url("../images/CBIshoreline--credits Mike Grandmaison.Getty.jpg");/*replace with something less vivid in colour*/
    height: 300px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hero-caption {
    width: 20%;
    text-align: right;
    margin: 3.5%;
    background-color: var(--secondary-color);
    bottom: 10px;
    right: 10px;
}

.hero-caption h2 {
    color: var(--tertiary-color);
    font-size: 28px;
    text-align: center;
}

.bio {
    /* add sizing, margins, padding */
}

.container-left {
    font-size: 55px;
    border-right: 3px solid var(--tertiary-color);
    color: var(--tertiar-color);
    padding-bottom: 20px;
    text-align: right;
    margin: 0 10px 35px auto;
    width: 30%;
}

.contact-details {
    display: flex;
    justify-content: space-between;
    text-decoration: underline;
    font-weight: bold;
}


















main {
    color: var(--tertiary-color);
}

.bio {
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
    font-size: 25px;
}

.reference {
    width: 35%;
    float: left;
    font-size: 25px;
    text-align: center;}

.reference img {
    border-radius: 50%;
    width: 100px;
    text-align: center;
}

.bio {
    font-size: 15px;
    margin-bottom: 35px;
    width: 65%;
    float: right;
    border-left: 5px solid var(--tertiary-color);
}

.major {
    width: 65%;
    margin-right: 0;
    padding: 5px;
    border: 5px solid var(--secondary-color);
}

.minor-2, .minor-4 {
    width: 37.5%;
    margin-right: 0;
    padding: 5px;
    border: 5px solid var(--secondary-color);
}

.minor-1, .minor-3 {
    width: 37.5%;
    margin-right: 200px;
    padding: 5px;
    border: 5px solid var(--secondary-color);
}


  @media screen and (max-width: 980px) {

  }

  @media screen and (max-width: 768px) {

  }

  @media screen and (max-width: 575px) {

  }