body {
font-family: 'Lexend Deca', sans-serif;
font-weight: 400;
font-size: 15px;
background-color: hsl(0, 0%, 95%);
}

h1  {
  font-family: 'Big Shoulders Inline Display', cursive;
  font-size: 30px;
  font-weight: 700;
  color: hsl(0, 0%, 95%);
  margin-top: -25px;
  padding-bottom: 15px;
}

p  {
  color: hsla(0, 0%, 100%, 0.72);
}

#feature {
  height: 600px;
  width: 800px;
  margin: auto;
  padding: 37.5px 25px;
  box-shadow: 0 10px 20px grey;
  background-color: hsl(0, 0%, 95%);
}

.title {
  text: hsl(0, 0%, 95%);
  margin-top: 50px;
  margin-left: 25px;

}

.row {
  height: 475px;
  width: 750px;
  margin: auto;

  }

.sedans-icon, .suvs-icon, .luxury-icon {
  padding-bottom: 50px;
}

.sedans {
  background-color: hsl(31, 77%, 52%);
  height: 400px;
  width: 150px;
  padding: 50px 75px 25px 25px;
  margin-bottom: -50px;
}

.sedans-btn {
  color: hsl(31, 77%, 52%);
    }

.suvs {
  background-color: hsl(184, 100%, 22%);
  height: 400px;
  width: 150px;
  padding: 50px 75px 25px 25px;
  margin-left: 250px;
  margin-top: -475px;
}

.suvs-btn {
  color: hsl(184, 100%, 22%);
  }

.luxury  {
  background-color: hsl(179, 100%, 13%);
  height: 400px;
  width: 150px;
  padding: 50px 75px 25px 25px;
  margin-left: 500px;
  margin-top: -475px;
}

.luxury-btn {
  color: hsl(179, 100%, 13%);
  }

.info {
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 1.5

}

.btn  {
  background-color: hsl(0, 0%, 95%);
  border-radius:28px;
	display:inline-block;
	cursor:pointer;
	font-size:15px;
	padding:6px 20px;
  margin-top: 40px;
  text-decoration: none;
  }


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
